Checks: '*,-llvm-header-guard,-fuchsia-*,-llvmlibc*,-hicpp-*,-misc-*,-modernize-*,-cppcoreguidelines-macro-usage,-cppcoreguidelines-avoid-non-const-global-variables,-readability-convert-member-functions-to-static,-cppcoreguidelines-avoid-c-arrays,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers,-cppcoreguidelines-init-variables,-cppcoreguidelines-pro-type-member-init,-cppcoreguidelines-pro-bounds-constant-array-index,-cppcoreguidelines-owning-memory,-cppcoreguidelines-pro-type-vararg'