[submodule "boards/kicad-components"]
	path = boards/kicad-components
	url = https://github.com/nebrius/kicad-components.git
[submodule "firmware/lib/rvl"]
	path = firmware/lib/rvl
	url = https://github.com/nebrius/rvl
[submodule "firmware/lib/rvl-esp"]
	path = firmware/lib/rvl-esp
	url = https://github.com/nebrius/rvl-esp
[submodule "boards/signal_converter/kicad-components"]
	path = boards/signal_converter/kicad-components
	url = https://github.com/nebrius/kicad-components.git
