[submodule "boards/kicad-components"]
	path = boards/kicad-components
	url = https://github.com/nebrius/kicad-components.git
[submodule "boards/signal_converter/kicad-components"]
	path = boards/signal_converter/kicad-components
	url = https://github.com/nebrius/kicad-components.git
