[submodule "lib/rvl-arduino-wifi"]
	path = lib/rvl-wifi
	url = git@github.com:rvl-system/rvl-arduino-wifi.git
[submodule "lib/rvl"]
	path = lib/rvl
	url = git@github.com:rvl-system/rvl.git
[submodule "lib/rvl-esp32-wifi"]
	path = lib/rvl-esp32-wifi
	url = git@github.com:rvl-system/rvl-esp32-wifi.git
