.pioenvs
.piolibdeps
.pio
node_modules
npm-debug.log
.vscode/.browse*
.DS_Store
.cache

# For PCBs designed using KiCad: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

# Exported BOM files
*.xml
*.csv

# VS Code temp files
.vscode/ipch

compile_commands.json
.vscode/c_cpp_properties.json
.vscode/launch.json
